#ID{
	background: lightpink;
	color: red;
	text-align: center;
	font-size: 50px;
	font-family: serif;
}
.asd{
	background: skyblue;
	color: black;
	font-family: fantasy;
	text-align: center;
	font-size: 30px;
}